@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --cor01: #52534E;
    --cor02: #e6b1ba7b;
    --cor03: #8C0303;
    --cor04: #730202;
    --cor05: #400101;
}

body{
    background-color: var(--cor02);
}

.cabeçalho{
    max-width: 1280px;
    margin: auto;
}
header{
    width: 100%;
    padding: 20px 0px;
}

header .cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header .logo img{
    max-width: 40px;
}

header .menu-desktop nav a{
     margin: 0px 30px;
     color: white;
     text-decoration: none;
}


main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
   
}


main section{
    max-width: 100%;
    
    border: 1px solid black;
    
}
section article{
    margin-top: 10px;
}

article p{
    margin: 10px 0px;
    text-align: justify;
    text-indent: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

footer{
    color: white;
    text-align: center;
    background-color:var(--cor05);
    padding: 20px;
    margin-top: 10px;
}