@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01: #52534E;
    --cor02: #e6b1ba7b;
    --cor03: #8C0303;
    --cor04: #730202;
    --cor05: #400101;
}


body{
    background-color: var(--cor02);
}

header{
    background-image: linear-gradient(to bottom, var(--cor05), var(--cor03), var(--cor04));
    width: 100%;
}

.cabeçalho{/* display: flex;
    align-items:flex-end;
    justify-content:left; */
    min-height: 100px;
    padding: 20px;
    position: relative;
    
}
div h1{
    position: absolute;
    left: 2%;
    bottom: 10%;
}

.logo{
   
}
.logo img{
    position: absolute;
    left: 20%;
    bottom: 10%;
}

.radios{
    position: absolute;
    left: 90%;
    bottom: 10%;
}

.menu{
   position: absolute;
    left: 35%;
    bottom: 10%; 
   
}

.menu nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding-right: 30px;
}

header h1{
    color: white;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
    position: relative;
}


section{
    width: 660px;
    border: 1px solid black;
    
}
section article{
    margin-top: 10px;
}

article p{
    margin: 10px 0px;
    text-align: justify;
    text-indent: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

aside{
    height: 90%;
    width: 300px;
    border: 1px solid var(--cor05);
    padding: 10px;
    position: absolute;
    bottom: 55%;
    left: 65%;
    transform: translate(8%,57%);   
}
aside div{
    height: 150px;
    width: 300px;
    background-color: var(--cor01);
    border: 1px solid black;

}


footer{
    color: white;
    text-align: center;
    background-color:var(--cor05);
    padding: 20px;
    margin-top: 10px;
}